build/
python/
CMakeLists.txt.user*
CMake/common/
Makefile
.DS_Store
*#
*.autosave
*~
*.[oa]
doc/html
cscope.out
tags
CMake/DisplayCluster.cmake.1
CMake/FindPackages.cmake.1
CMakeCache.txt
CMakeFiles/
